@using PassingDataUsingViewBag.Models;

<h2>PassingDataUsingViewBag ->> Views ->> ViewBag ->> PassingDataViewBag ->> VIEW EKRANI GÖRÜNTÜLENİYOR.</h2>
<h3>ViewBag ile dinamik nesne üretip bu nesneye ait veriyi View katmanına taşıma işlemi.</h3>

<html>
<head>
    <title>User List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #DDDDDD;
            text-align: left;
            padding: 9px;
        }

        tr:nth-child(even) {
            background-color: #DDDDDD;
        }
    </style>
</head>
<body>
    <h2 style="text-align:center">User List</h2>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
        </tr>
        @foreach (User item in ViewBag.PassedUsers)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.UserName</td>
            </tr>
        }
    </table>
</body>
</html>