@using GettingData.Models
@model Product

@if (ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}

else
{
    <html>
    <head>
        <title>Product List</title>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #DDDDDD;
                text-align: left;
                padding: 9px;
            }

            tr:nth-child(even) {
                background-color: #DDDDDD;
            }
        </style>
    </head>
    <body>
        <h2 style="text-align:center">Product List</h2>
        <table>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
            </tr>

            <tr>
                <td>@Model.ID</td>
                <td>@Model.ProductName</td>
            </tr>

        </table>
    </body>
    </html>

}

