<div class="navbar-header">
    <a class="navbar-brand" hrefa="#">LayoutUsage</a>
</div>
<ul class="nav navbar-nav">
    <li class="active"><a asp-controller="home" asp-action="index">Ana Sayfa</a></li>
    <li><a asp-controller="home" asp-action="page_1">Öğretmen</a></li>
    <li><a asp-controller="home" asp-action="page_2">Öğrenci</a></li>
    <li><a asp-controller="home" asp-action="page_3">Veli</a></li>
</ul>