<h1>Views ->> TempDataAndTempDataTest ->> PassingDataUsingTempDataTest ->> VIEW KATMANI GÖRÜNTÜLENİYOR</h1>
<h2>TempDataTest ile View katmanına veri taşıma işlemi.</h2>

<h2>BU İŞLEM, PassingDataUsingTempData() ACTION'U ÜZERİNDEN PassingDataUsingTempDataTest() ACTIONU'A GERÇEKLEŞTİRİLMİŞTİR.</h2>

<p>
    Hello, I am @TempData["Name"].ToString()
</p>