<h1>Views ->> TempDataAndTempDataTest ->> PassingDataUsingTempData ->> VIEW KATMANI GÖRÜNTÜLENİYOR</h1>
<h2>TempData ile View katmanına veri taşıma işlemi.</h2>

@*UserTempDataTest() Action'u üzerinden işlem yapmak istiyorsanız burayı yorum satırı yapın.*@
@*<p>Hello @TempData["Name"].ToString()</p>*@
<p>Merhaba, TempData metodu şu anda UserTempDataTest Action'u için kullanılmaktadır.</p>