@model List<Product>

<!-- Aşağıdaki kısım, _Layout dosyasında belirtilen RenderSection() metodunun Footer kısmı için yazılmıştır -->
@section Footer{
    <div>
        Only for Index footer.
    </div>
}

@foreach (Product product in Model)
{
    <div>
    <h4>@product.ProductId - @product.ProductName - @product.Price</h4>
    <p>
        <a href="Product/Get/@product.ProductId">Get Product by Id</a>
    </p>
</div>
}