@model List<Product>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
</head>

<body>
    @foreach (Product product in Model)
    {
        <partial name="_ProductCard" model="@product" />
    }

    <footer>
        <!-- Aşağıdaki kısım, _Layout dosyasında belirtilen RenderSection() metodunun Footer kısmı için yazılmıştır -->
        @section Footer{
            <div>
                Only for Index footer.
            </div>
        }
    </footer>
</body>

</html>

