@model List<Product>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
</head>

<body>
    <div class="row my-3">
        @foreach (Product product in Model)
        {
            <partial name="_ProductCard" model="@product" />
        }
    </div>

    <footer>
        <!-- Aşağıdaki kısım, _Layout dosyasında belirtilen RenderSection() metodunun Footer kısmı için yazılmıştır. Disabled durumdadır-->
        @* @section Footer{
        <div>
        Only for Index footer.
        </div>
        } *@
    </footer>
</body>

</html>

