@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section account{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="home" asp-action="LoginAsParent"><span class="glyphicon glyphicon-log-in"></span>Veli Girişi</a></li>
    </ul>
}

<h2>ÜÇÜNCÜ SAYFA</h2>