@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TURKCELL AKADEMİ</h1>
    <p>
        <!-- <a class="btn btn-primary" href="/course/application">Apply</a> -->
        <a class="btn btn-primary" asp-controller="Course" asp-action="Application">Apply</a>
    </p>
</div>