@model BookType

<h3 class="text-center">Yeni Kitap Türü Ekleme Sayfası</h3>
<div asp-validation-summary="All"></div>
<form method="post" asp-controller="BookType" asp-action="Create" asp-area="Management">
    <div class="mb-3">
        <label class="form-label" asp-for="TypeName">İsim</label>
        <input type="text" class="form-control" asp-for="TypeName" />
        <span asp-validation-for="TypeName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
