@* Controller'daki veriyi karşılarken verinin tipini import ediyoruz. *@
@* Import işlemi esnasında veri tipinin başına küçük harflerle "model" yazıyoruz. *@
@* Veriyi kullanırken ise baş harf büyük olacak şekilde 'Model' yazıyoruz. *@

@model string;

<h1>Controller üzerinden Object tipinde veri gönderiyoruz.</h1>
<h2>Bu veriyi "Model" ifadesi ile View katmanında kullanıyoruz.</h2>
<h3>Merhaba @Model</h3>
