@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section account{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="home" asp-action="LoginAsTeacher"><span class="glyphicon glyphicon-log-in"></span>Öğretmen Girişi</a></li>
    </ul>
}

<h2>ÖĞRETMEN SAYFASI</h2>