@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section account{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="home" asp-action="LoginAsStudent"><span class="glyphicon glyphicon-log-in"></span>Öğrenci Girişi</a></li>
    </ul>
}


<h2>İKİNCİ SAYFA</h2>