@*Controller'daki veriyi karşılarken verinin tipini import ediyoruz.*@
@*Import işlemi esnasında veri tipinin başına küçük harflerle "model" yazıyoruz. *@
@*Veriyi kullanırken ise baş harf büyük olacak şekilde 'Model' yazıyoruz.*@

@model string;

<h1>Controller üzerinden, "Model" kullanarak Object tipinde veri gönderiyoruz.</h1>
<h2>Merhaba @Model</h2>