@*Tıpkı Namespace ekler gibi modelden gelen veriyi karşulıyoruz.*@

@model PassingData.Models.Product

<h2>Models klasörü içerisinde tanımladığımız Product modelinin nesne örneğini Conroller üzerinden View'a gönderiyoruz.' </h2>

<p>Product Name: @Model.ProductName</p>
<p>Product Price: @Model.UnitPrice TL</p>

