<!DOCTYPE html>
<html lang="en">
<head>
    <title>LAYOUT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" hrefa="#">LayoutUsage</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a asp-controller="home" asp-action="index">Ana Sayfa</a></li>
                <li><a asp-controller="home" asp-action="page_1">Öğretmen</a></li>
                <li><a asp-controller="home" asp-action="page_2">Öğrenci</a></li>
                <li><a asp-controller="home" asp-action="page_3">Veli</a></li>
            </ul>
            @RenderSection("account", false)
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
