@using Fluent_Validation.Models;
@using Fluent_Validation.Dto;

@model (Book book, List<AuthorDto> authors, List<BookTypeDto> bookTypes)

<h3 class="text-center">Kitap Güncelleme Sayfası</h3>
<form method="post" asp-controller="Book" asp-action="Edit" asp-area="Management">
    <div class="mb-3">
        <label class="form-label" asp-for="book.Title">Kitap İsmi</label>
        <input type="text" class="form-control" asp-for="book.Title" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.AuthorID">Yazar</label>
        <select class="form-control" asp-for="book.AuthorID" asp-items="@(new SelectList(Model.authors, "Id", "FullName"))"></select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.BookTypeID">Kitap Türü</label>
        <select class="form-control" asp-for="book.BookTypeID" asp-items="@(new SelectList(Model.bookTypes, "Id", "TypeName"))"></select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.PageCount">Sayfa Sayısı</label>
        <input type="text" class="form-control" asp-for="book.PageCount" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.Description">İçerik</label>
        <input type="text" style="height:100px;" class="form-control" asp-for="book.Description" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.PublicationDate">Basım Tarihi</label>
        <input type="date" class="form-control" asp-for="book.PublicationDate" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.CopiesOwned">Baskı Sayısı</label>
        <input type="number" class="form-control" asp-for="book.CopiesOwned" />
    </div>
    <div class="mb-3">
        <input asp-for="book.Id" type="hidden" />
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </div>
</form>
