@model string

<div class="display-3">
    Employee with First Index
</div>

<div class="lead">
    <!-- Yukarıda "model string" ifadesi ile Controller'dan bir obje aldık -->
    <!-- Bu objeyi ise aşağıdaki ifadeyi kullanarak HTML yapısı içinde kullandık -->
    @Model
</div>