<h1>Views ->> User ->> UserTempDataTest</h1>
<h2>TempData ile View katmanına veri taşıma işlemi.</h2>

<p>BU İŞLEM, UserTempData() ACTION'U ÜZERİNDEN UserTempDataTest() ACTIONU'A GERÇEKLEŞTİRİLMİŞTİR.</p>

<p>
    Hello, I am @TempData["Name"].ToString()
</p>