<!-- 
    * Bu dosya bir "PartialView" olarak tasarlandı.
    * Amaç, _Layout.cshtml dosyası içerisinde oluşturulabilecek olan Navbar yapısının, dosyayı karmaşık hale getirmemesi adına farklı bir
    dosya üzerinde (_Navbar.cshtml) tasarlanarak yine _Layout.cshtml çağırılması, böylece karışıklığın önüne geçilmesidir.
-->

<ul>
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Product" asp-action="Index">Products</a></li>
</ul>