@using PassingData.Models
@using PassingData.Models.ViewModel
@model CustomerAndProductVM

<p>Customers</p>

<ul>
    @foreach (Customer item in Model.customers)
    {
        <li>@item.FirstName</li>
    }
</ul>

<p>Product is @Model.product.ProductName</p>

<p>Date: @Model.date</p>